{{#each this}}

<div class='photo-card'> 
  <div class='gallery__item'> 
    <a href={{largeImageURL}} class='card-link js-card-link'> 
    <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' class='gallery-img' />   
    </a>
    <div class="info">
      <p class="info-item">
        <b>Likes</b>{{likes}}
      </p>
      <p class="info-item">
        <b>Views</b>{{views}}
      </p>
      <p class="info-item">
        <b>Comments</b>{{comments}}
      </p>
      <p class="info-item">
        <b>Downloads</b>{{downloads}}
      </p>
    </div> 
  </div>
</div>

{{/each}}